@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
a,
button,
textarea {
  font: inherit;
}
/*RESET*/

body {
  padding-top: 0px;
}
main {
  background-color: #f0efed;
}
/*NAVBAR*/
.modular-grid {
  width: 3rem;
}

.navbar {
  background-color: #1a2456 !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #ff8b68 !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #f86639 !important;
}

.dropdown-item:hover {
  background-color: #1a2456 !important;
  color: #ff8b68 !important;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(simon-hughes-.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 70px;
}
/*NAVBAR*/

/*MAIN GRIDS*/

.console-for-workflow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem;
}

.console-for {
  color: #ff8b68;
  font-weight: 800;
  font-size: clamp(1rem, 3rem, 5rem);
  font-family: "Poppins", sans-serif;
}

.perfect-console {
  color: #ff8b68;
  font-family: "Poppins", sans-serif;
}
.image-change-and-text-container {
  width: 360px;
  max-width: 100%;
}
.image-change-container {
  position: relative;
}

.second-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}

.image-change-container:hover .second-image {
  opacity: 1;
  cursor: pointer;
}

.pre-order {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: rgb(255, 94, 0);
  color: #1a2456;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 0.75rem;

  z-index: 10;
}

.sold-out {
  color: grey;
  padding: 0.2rem;
  position: absolute;
  right: 0px;
}

.shop-now-container {
  position: relative;
}
.container-for-price-and-shop {
  position: absolute;
  right: 12px;
}
.card-shop-nows {
  font-weight: 500;
  font-size: 0.8rem;
  position: absolute;
  right: -2px;
  opacity: 0;
  background-color: #1a2456;
  color: white;
  border-radius: 20px;
  padding: 0.4rem;

  top: 3px;

  transition: opacity 0.2s;
  width: 80px;
  white-space: nowrap;
}
.container-for-price-and-shop:hover .card-shop-nows {
  opacity: 1;
  cursor: pointer;
}

/*MAIN GRIDS*/

/*FOOTER*/
footer {
  gap: 2rem;
  padding: 2rem;
  background-color: #1a2456;
  color: #ff8b68;
  font-size: small;
}

#email {
  border: 1px solid #ff8b68;
  background-color: #1a2456;
  color: white;
}
::placeholder {
  color: #ff8b68 !important;
}

#submit {
  border: none;
  background-color: #fcc4b3;
  color: #1a2456;
  border-radius: 0.25rem;
  font-size: small;
  border-radius: 4px;
  padding: 8px 16px;
}
/*FOOTER*/

/* .image-change-container img {
  width: 100%;
  height: auto;
  display: block;
} */

.first-text-under {
  color: #1a2456;
  font-weight: 800;
  font-size: larger;
}
.second-text-under {
  color: #1a2456;
  margin-top: -10px;
}

/*GAMEPAD*/
.get-your-own-section {
  background-image: linear-gradient(
      rgba(100, 100, 100, 0.6),
      rgba(100, 100, 100, 0.6)
    ),
    url(gamepad3D1.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 88vh;
}

.create-console-text {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

.add-ons-text {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
/*GAMEPAD*/

@media screen and (max-width: 480px) {
  .console-for {
    font-size: 2rem;
    white-space: nowrap;
  }
  .perfect-console {
    white-space: nowrap;
  }
}
